#title{
    color: rgb(0, 153, 255);
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#cabecera{
    color: rgb(19, 91, 109);
    background-color: beige;
    font-weight: 200;
    border-color: black, solid;
}